@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Machine name is <strong>@ViewData["Machine"]</strong></p>
<p>Make a small change to see if Github CI is working..</p>
<p>Now on dot net core 1.0</p>